@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap');

:root{
    --primary-color: #F9E926;
    --primary-black: #0B0B0B;
    --secundary-black: #131313;
    --white: #ffffff;
    --title: 'Oswald', sans-serif;
    --text: 'Roboto Condensed', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* classes */

.image{
    height: 20rem;
}

/* barra de navegação */

.bar{
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: var(--primary-black);
    box-shadow: 10px 0 10px #00000098;
    position: fixed;
}
nav .nav_content{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
nav .bar .nav_content .logo{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1.3rem;
    margin-left: 40px;
}
nav .bar .nav_content ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav .bar .nav_content ul li{
    color: var(--white);
    font-size: 1.4rem;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.3s ease all;
    font-family: var(--title)
}
nav .bar .nav_content ul li:hover{
    padding-bottom: 6px;
    color: #d5d3d3;
}

/* primeira seção */

.primary{
    height: 100vh;
    background: var(--primary-black);
    color: var(--white);
    
}
.inicio{
    display: flex;
    flex-direction: row;
}
.inicio img{
    padding: 40px 0 0 50px;
    height: 24rem;
    margin-top: 80px;
}
.primary .inicio h1{
    font-family: var(--title);
    font-size: 2.6rem;
    padding-top: 100px;
    padding: 200px 0 0 40px;
    font-weight: 300;
}
.primary .inicio h2{
    font-family: var(--text);
    font-size: 3rem;
    padding-top: 100px;
    padding: 0 0 0 40px;
    transition: 0.5s ease all;
}
.primary .inicio h2:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.primary .inicio h3{
    font-family: var(--title);
    font-size: 2rem;
    padding-top: 100px;
    padding: 0 0 0 40px;
    font-weight: 200;
}
.primary .inicio button{
    width: 240px;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 6px;
    font-size: 24px;
    margin: 30px 0 0 80px;
}
.primary .inicio button:hover{
    cursor: pointer;
    background-color: #c4b513;
}
.primary .inicio button i{
    margin-right: 10px;
    font-size: 24px;
}

/* segunda seção */

.secundary{
    height: 100vh;
    background: var(--secundary-black);
    color: var(--white);
}
.eu{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}
.eu h1{
    font-size: 2.4rem;
    font-family: var(--title);
    margin-bottom: 20px;
}
.eu p{
    font-family: var(--text);
    font-size: 1.6rem;
    width: 70%;
}
.eu img{
    width: 30rem;
    margin: 0 80px 0 40px;
}

.timeline{
    display: flex;
    padding-top: 100px;
}
.title h1{
    text-align: center;
    font-family: var(--title);
    font-size: 2.4rem;
    padding: 40px 0 20px 0;
}
.timeline .circle{
    height: 60px;
    width: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    margin-left: 20px;
}
.timeline .circle i{
    color: var(--primary-color);
    margin: 20px 0 0 18px;
}
.timeline .box{
    display: block;
    margin-left: 20px;
    width: 500px;
    height: 200px;
    border-radius: 6px;
    background-color: var(--secundary-black);
    box-shadow: 10px 8px 8px #00000078;
    transition: 0.5s ease-in all;
}
.timeline .box h1{
    font-family: var(--title);
    color: var(--white);
    font-size: 1.2rem;
    padding: 12px;
}
.timeline .box h2{
    font-family: var(--title);
    color: var(--white);
    font-size: 1rem;
    margin-left: 12px;
}
.timeline .box p{
    font-family: var(--text);
    color: var(--white);
    font-size: 1rem;
    padding: 12px;
}
.timeline .box:hover{
    border: 0.5px solid #c4b513;
    padding: 10px;
}

/* terceira seção */

.grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.grid .project{
    width: 360px;
    height: 180px;
    margin: 16px;
    background-color: var(--primary-black);
    text-align: center;
    border-radius: 6px;
    transition: 0.5s ease;
}
.grid .project .name{
    padding: 20px;
    font-family: var(--title);
    font-size: 2rem;
    color: var(--white);
}
.grid .project p{
    color: var(--white);
    font-family: var(--text);
    font-size: 1.4rem;
    padding: 5px;
}
.grid .project:hover{
    border-bottom: 2px solid var(--primary-color);
    padding: 6px;
    width: 380px;
    height: 200px;
}
.link a{
    color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    font-family: var(--title);
    font-size: 1.8rem;
    font-weight: bold;
    transition: 0.5s ease;
}
.link a:hover{
    color: #fff47e;
}

/* quarta seção */

.itens{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    width: 60%;
}
.itens .item{
    width: 130px;
    height: 130px;
    margin: 20px;
    background-color: var(--secundary-black);
    text-align: center;
    border-radius: 6px;
    border-left: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}
.itens .item i{
    margin-top: 40px;
    font-size: 3.8rem;
    transition: 0.2s ease;
}
.itens .item i:hover{
    color: var(--primary-color);
    padding: 4px;
}

