
:root{
    --primary-color: #F9E926;
    --primary-black: #0B0B0B;
    --secundary-black: #131313;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.primary{
    height: 100vh;
    background: var(--primary-black);
    color: #ffffff;
}
.secundary{
    height: 100vh;
    background: var(--secundary-black);
    color: #ffffff;

}
img{
    height: 20rem;
}