@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed&display=swap');

:root{
    --primary-color: #F9E926;
    --primary-black: #0B0B0B;
    --secundary-black: #131313;
    --white: #ffffff;
    --title: 'Oswald', sans-serif;
    --text: 'Roboto Condensed', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* classes */

.image{
    height: 20rem;
}

/* barra de navegação */

.bar{
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: var(--primary-black);
    box-shadow: 10px 0 10px #00000098;
    position: fixed;
    z-index: 2;
    
}
nav .nav_content{
    display: flex;
    width: 90%;
    justify-content: space-between;
    
}
nav .bar .nav_content .logo{
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1.3rem;
    margin-left: 40px;
}
nav .bar .nav_content ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav .bar .nav_content ul li{
    color: var(--white);
    font-size: 1.4rem;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.5s ease all;
    font-family: var(--title)
}
nav .bar .nav_content ul li:hover{
    padding-bottom: 6px;
    color: #d5d3d3;
    border-bottom: 3px solid var(--primary-color);
    border-radius: 4px;
}

/* primeira seção */

.primary{
    height: 100vh;
    background: var(--primary-black);
    color: var(--white);
    
}
.inicio{
    display: flex;
    flex-direction: row;
}
.inicio img{
    padding: 40px 0 0 50px;
    height: 24rem;
    margin-top: 80px;
}
.primary .inicio h1{
    font-family: var(--title);
    font-size: 2.6rem;
    padding-top: 100px;
    padding: 200px 0 0 40px;
    font-weight: 300;
}
.primary .inicio h2{
    font-family: var(--text);
    font-size: 3rem;
    padding-top: 100px;
    padding: 0 0 0 40px;
    transition: 0.5s ease all;
}
.primary .inicio h2:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.primary .inicio h3{
    font-family: var(--title);
    font-size: 2rem;
    padding-top: 100px;
    padding: 0 0 0 40px;
    font-weight: 200;
}
.primary .inicio button{
    width: 240px;
    height: 45px;
    background-color: var(--white);
    color: var(--primary-black);
    border: none;
    border-radius: 6px;
    font-size: 24px;
    margin: 30px 0 0 80px;
}
.primary .inicio button:hover{
    cursor: pointer;
    background-color: #e6e6e6;
    border-left: 2px solid var(--primary-color);
}
.primary .inicio button i{
    margin-right: 10px;
    font-size: 24px;
}

/* segunda seção */

.secundary{
    height: 100vh;
    background: var(--secundary-black);
    color: var(--white);
}
.eu{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}
.eu h1{
    font-size: 2.4rem;
    font-family: var(--title);
    margin-bottom: 20px;
}
.eu p{
    font-family: var(--text);
    font-size: 1.6rem;
    width: 70%;
}
.eu img{
    width: 30rem;
    margin: 0 80px 0 40px;
}

.timeline{
    display: flex;
    padding-top: 100px;
}
.title h1{
    text-align: center;
    font-family: var(--title);
    font-size: 2.4rem;
    padding: 40px 0 20px 0;
}
.timeline .circle{
    height: 60px;
    width: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--white);
    margin-left: 20px;
}
.timeline .circle i{
    color: var(--white);
    margin: 20px 0 0 18px;
}
.timeline .box{
    display: block;
    margin-left: 20px;
    width: 500px;
    height: 200px;
    border-radius: 6px;
    background-color: var(--secundary-black);
    box-shadow: 10px 8px 8px #00000078;
    transition: 0.5s ease-in all;
}
.timeline .box h1{
    font-family: var(--title);
    color: var(--white);
    font-size: 1.2rem;
    padding: 12px;
}
.timeline .box h2{
    font-family: var(--title);
    color: var(--white);
    font-size: 1rem;
    margin-left: 12px;
}
.timeline .box p{
    font-family: var(--text);
    color: var(--white);
    font-size: 1rem;
    padding: 12px;
}
.timeline .box:hover{
    border: 0.5px solid #c4b513;
    padding: 10px;
    cursor: pointer;
}
.formacao .btn{
    display: flex;
    align-items: center;
}
.formacao .btn .cv{
    width: 240px;
    height: 45px;
    background-color: var(--white);
    border: none;
    border-radius: 6px;
    font-size: 24px;
    margin: 30px 0 0 80px;
    margin: 80px auto;
}
.formacao .btn .cv a{
    color: var(--primary-black);
}
.formacao .btn .cv:hover{
    cursor: pointer;
    background-color: #e6e6e6;
    border-left: 2px solid var(--primary-color);
    

}

/* terceira seção */

.grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.grid .project{
    width: 360px;
    height: 180px;
    margin: 16px;
    background-color: var(--primary-black);
    text-align: center;
    border-radius: 6px;
    transition: 0.5s ease;
}
.grid .project .name{
    padding: 20px;
    font-family: var(--title);
    font-size: 2rem;
    
    color: var(--white);
}
.grid .project p{
    color: var(--white);
    font-family: var(--text);
    font-size: 1.4rem;
    padding: 5px;
    font-weight: 600;
}
.grid .project:hover{
    border-bottom: 2px solid var(--primary-color);
    padding: 6px;
    width: 380px;
    height: 200px;
    cursor: pointer;
}
.link a{
    color: var(--white);
    text-align: center;
    text-decoration: none;
    font-family: var(--title);
    font-size: 1.4rem;
    font-weight: bold;
    transition: 0.5s ease;
    margin-top: 10px;
}
.link a:hover{
    color: #b6b6b6;
}

/* quarta seção */

.conhecimentos{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.caixa{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}
.caixa .card{
    position: relative;
    width: 300px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--secundary-black);
    border-radius: 2px;
    
}
.caixa .card i{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 190px;
    transition: 0.5s;
}
.caixa .card:hover i{
    left: 73%;
    font-size: 100px;
    cursor: pointer;
}
.caixa .card .conteudo{
    position: relative;
    width: 60%;
    left: 20%;
    padding: 10px 20px 10px 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.caixa .card:hover .conteudo{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.caixa .card .conteudo h2{
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1.6em;
    font-family: var(--title)
}
.caixa .card .conteudo p{
    color: #f2f2f2;
    font-size: .9rem;
    font-family: var(--text)
}

/* quinta seção */

.line{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.line .card{
    width: 300px;
    height: 420px;
    margin: 40px;
    text-align: center;
    background-color: var(--primary-black);
    transition: .7s ease;
    border: 1px solid var(--primary-black);
    border-radius: 2px;
}
.line .card:hover{
    border: 1px solid var(--white);
    cursor: pointer;
}
.line .card i{
    font-size: 4rem;
    color: var(--primary-color);
    margin: 40px 0 20px 0;
}
.line .card h1{
    font-family: var(--title);
    font-size: 2rem;
    margin: 10px 0 15px 0;
}
.line .card h2{
    font-family: var(--text);
    font-size: 1.2rem;
    margin: 2px 12px 0 12px;
}



footer{
    height: 40vh;
    background-color: var(--primary-black);
}
footer .links{
    display: flex;
    justify-content: center;
    padding: 40px;
}
footer .links a .btn{
    width: 180px;
    height: 50px;
    padding: 8px;
    margin: 10px;
    font-size: 1.5rem;
    background-color: var(--secundary-black);
    text-transform: capitalize;
    font-family: var(--text);
    font-weight: bold;
    border: none;
    border-radius: 2px;
    transition: 0.6s ease;
}
footer .links a:nth-child(1) .btn{
    color: #0e76ae;
}
footer .links a:nth-child(2) .btn{
    color: var(--white);
}
footer .links a:nth-child(3) .btn{
    color: #d10d0d;
}
footer .links a:nth-child(4) .btn{
    color: var(--primary-color);
}
footer .links a:nth-child(5) .btn{
    margin-left: 10px;
    background-color: var(--white);
    width: 60px;
    color: var(--primary-black);
    cursor: pointer;
}
footer .links a:nth-child(1) .btn:hover{
    color: var(--white);
    background-color: #0e76ae;
    cursor: pointer;
}
footer .links a:nth-child(2) .btn:hover{
    color: var(--primary-black);
    background-color: var(--white);
    cursor: pointer;
}
footer .links a:nth-child(3) .btn:hover{
    color: var(--white);
    background-color: #d10d0d;
    cursor: pointer;
}
footer .links a:nth-child(4) .btn:hover{
    color: var(--secundary-black);
    background-color: var(--primary-color);
    cursor: pointer;
}
footer .links a:nth-child(5) .btn:hover{
    color: var(--white);
    background-color: var(--secundary-black);
    cursor: pointer;
}
footer .txt{
    text-align: center;
    color: var(--white);
    font-family: var(--title);
    font-size: .8rem;
}